@font-face {
    font-family: "NunitoSans-Regular";
    src: url("../fuentes/NunitoSans-Regular.ttf");
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: url("../fuentes/NunitoSans-Bold.ttf");
}